@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;

  --gradient-faded: -webkit-linear-gradient(-90deg, #ffffff, #ffffff50);
  --gradient-flame: -webkit-linear-gradient(-90deg, #ff6a00, #ff0000);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-rosewater: #f5e0dc;
  --color-lavender: #b4befe;
  --color-sapphire: #74c7ec;
  --color-flamingo: #f2cdcd;
  --color-subtext1: #bac2de;
  --color-subtext0: #a6adc8;
  --color-overlay2: #9399b2;
  --color-overlay1: #7f849c;
  --color-overlay0: #6c7086;
  --color-surface2: #585b70;
  --color-surface1: #45475a;
  --color-surface0: #313244;
  --color-maroon: #eba0ac;
  --color-yellow: #f9e2af;
  --color-mantle: #181825;
  --color-mauve: #cba6f7;
  --color-peach: #fab387;
  --color-green: #a6e3a1;
  --color-crust: #11111b;
  --color-blue: #89b4fa;
  --color-text: #cdd6f4;
  --color-teal: #94e2d5;
  --color-pink: #f5c2e7;
  --color-base: #1e1e2e;
  --color-red: #f38ba8;
  --color-sky: #89dceb;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--geist), Arial, Helvetica, sans-serif;
  background: var(--background);
  color: var(--foreground);
}

.font-geist {
  font-family: var(--geist), Arial, Helvetica, sans-serif;
}

.font-orbitron {
  font-family: var(--orbitron), Arial, Helvetica, sans-serif;
}

.font-urbanist {
  font-family: var(--urbanist), Arial, Helvetica, sans-serif;
}

.text-gradient-faded {
  -webkit-text-fill-color: transparent;
  background: var(--gradient-faded);
  -webkit-background-clip: text;
  background-clip: text;
}

.text-gradient-flame {
  -webkit-text-fill-color: transparent;
  background: var(--gradient-flame);
  -webkit-background-clip: text;
  background-clip: text;
}
